@model VoziMe.Models.Voznje

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Voznje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="vozacId" class="control-label"></label>
                <select asp-for="vozacId" class ="form-control" asp-items="ViewBag.vozacId"></select>
            </div>
            <div class="form-group">
                <label asp-for="korisnikId" class="control-label"></label>
                <select asp-for="korisnikId" class ="form-control" asp-items="ViewBag.korisnikId"></select>
            </div>
            <div class="form-group">
                <label asp-for="firmaId" class="control-label"></label>
                <select asp-for="firmaId" class ="form-control" asp-items="ViewBag.firmaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="voziloId" class="control-label"></label>
                <select asp-for="voziloId" class ="form-control" asp-items="ViewBag.voziloId"></select>
            </div>
            <div class="form-group">
                <label asp-for="vrijeme" class="control-label"></label>
                <input asp-for="vrijeme" class="form-control" />
                <span asp-validation-for="vrijeme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ocjena" class="control-label"></label>
                <input asp-for="ocjena" class="form-control" />
                <span asp-validation-for="ocjena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cijena" class="control-label"></label>
                <input asp-for="cijena" class="form-control" />
                <span asp-validation-for="cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adresaPolazista" class="control-label"></label>
                <input asp-for="adresaPolazista" class="form-control" />
                <span asp-validation-for="adresaPolazista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adresaDolazista" class="control-label"></label>
                <input asp-for="adresaDolazista" class="form-control" />
                <span asp-validation-for="adresaDolazista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
