@{
    ViewData["Title"] = "Home";
}

<style>
    .image-container {
        display: flex;
        justify-content: center;
    }
</style>

<div style="display: flex; justify-content: center;">
    <div style="margin-right: 10px;">
        <h3>Vaša adresa:</h3>
        <input type="text" id="startLocation" name="startLocation">
    </div>
    <div style="margin-left: 20px;">
        <h3>Gdje putujete?</h3>
        <input type="text" id="destination" name="destination">
    </div>
</div>

<div class="image-container">
    <img src="/images/mapa.png" alt="Map">
</div>

