@{
    ViewData["Title"] = "Kako vam možemo pomoći?";
}

<style>
    .centered-text {
        text-align: center;
        font-weight: bold;
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="centered-text">
    <p><br>Pišite nam na e-mail: podrska@vozime.com<br>ili pozovite telefon: 033/512/185 <br></p>
</div>

<p>
    Q: Kako koristiti ovu aplikaciju za naručivanje taksija?<br>
    A: Da biste koristili aplikaciju, prvo je potrebno preuzeti i instalirati na svoj pametni telefon. Zatim se morate registrirati i stvoriti svoj profil, koji će vam omogućiti naručivanje usluge taksija. Nakon toga, samo odaberite svoju lokaciju i odredište, te odaberite vrstu vozila koju želite koristiti, kao i način plaćanja. Kliknite na "naruči" i vaš taksi će uskoro biti na vašem odabranom mjestu.<br>
    <br>
    Q: Koje su prednosti korištenja aplikacije za naručivanje taksija?<br>
    A: Aplikacija omogućuje brzo i jednostavno naručivanje taksija bez potrebe za pozivanjem dispečera. Također, aplikacija pruža preglednu informaciju o vozačima i njihovim vozilima, te omogućuje jednostavno plaćanje putem mobilnog uređaja.<br>
    <br>
    Q: Kako mogu biti siguran da će moj taksi doći na vrijeme?<br>
    A: Aplikacija ima ugrađeni GPS sustav koji prati položaj vozača u stvarnom vremenu, što vam omogućuje praćenje njegove lokacije i predviđanje dolaska. Također, vozač će vas kontaktirati telefonom ili putem aplikacije kada dođe na vašu adresu.<br>
    <br>
    Q: Kako mogu platiti za svoju vožnju?<br>
    A: Aplikacija vam omogućuje jednostavno plaćanje putem kreditne kartice, PayPal računa ili drugih dostupnih metoda plaćanja.
</p>
