@{
    ViewData["Title"] = "Pravila o zaštiti privatnosti";
}
<h1>@ViewData["Title"]</h1>

<p>
    Hvala vam što koristite našu aplikaciju. Sljedeća pravila o zaštiti privatnosti objašnjavaju kako prikupljamo, koristimo, otkrivamo i štitimo vaše lične podatke kada koristite našu aplikaciju. Posvećeni smo poštovanju i zaštiti vaše privatnosti. Korištenjem naše aplikacije pristajete na prakse.<br>
    <br>
    Informacije koje prikupljamo<br>
    <br>
    1.1 Lični podaci<br>
    <br>
    Kada koristite našu aplikaciju, možemo prikupljati sljedeće vrste ličnih podataka:<br>
    <br>
    - Ime<br>
    - Kontakt informacije (kao što su adresa e-pošte, broj telefona i kućna adresa)<br>
    - Informacije o plaćanju (kao što su podaci o kreditnoj kartici)<br>
    - Informacije o lokaciji<br>
    - Detalji putovanja (kao što su lokacije preuzimanja i odlaska, datumi i vrijeme)<br>
    - Korisničke postavke i postavke<br>
    - Komunikacijske preferencije<br>
    <br>
    1.2 Automatski prikupljene informacije<br>
    <br>
    Također možemo automatski prikupljati određene informacije kada koristite našu aplikaciju, uključujući:<br>
    <br>
    - Informacije o uređaju (kao što su tip uređaja, operativni sistem i jedinstveni identifikatori uređaja)<br>
    - Informacije iz pretraživača (kao što su IP adrese, tip pretraživača i referentni URL-ovi)<br>
    - Informacije o korištenju (kao što su radnje koje poduzimate unutar aplikacije i stranice koje pregledavate)<br>
    <br>
    Kako koristimo Vaše podatke<br>
    <br>
    Prikupljene podatke koristimo u sljedeće svrhe:<br>
    <br>
    - Za pružanje i poboljšanje naše taxi usluge<br>
    - Za obradu i ispunjenje vaših zahtjeva za vožnju<br>
    - Za komunikaciju s vama o vašim vožnjama i računu<br>
    - Da personalizujete svoje iskustvo sa aplikacijom<br>
    - Za pružanje korisničke podrške<br>
    - Za slanje promotivnih ponuda, ažuriranja i drugih relevantnih informacija<br>
    - Za otkrivanje i sprječavanje prijevara i nezakonitih aktivnosti<br>
    - Da se pridržavaju zakonskih obaveza<br>
    <br>
    Dijeljenje i otkrivanje informacija<br>
    <br>
    Vaše lične podatke možemo podijeliti s trećim stranama pod sljedećim okolnostima:<br>
    <br>
    - Sa taksistima ili pružaocima usluga prijevoza kako bi ispunili vaše zahtjeve za vožnju<br>
    - Sa provjerenim pružateljima usluga trećih strana koji nam pomažu u radu aplikacije i pružanju naših usluga<br>
    <br>
    <br>
    - Sa agencijama za provođenje zakona, državnim organima ili drugim trećim stranama ako to zahtijeva zakon ili kao odgovor na pravni proces<br>
    - U vezi sa poslovnom transakcijom, kao što je spajanje, sticanje ili prodaja imovine<br>
    - Uz Vašu saglasnost ili po Vašem nalogu<br>
    <br>
    Sigurnost podataka<br>
    <br>
    Sprovodimo odgovarajuće tehničke i organizacione mjere kako bismo zaštitili vaše lične podatke od neovlašćenog pristupa, otkrivanja, izmjene i uništenja. Međutim, imajte na umu da nijedan način prijenosa putem interneta ili elektroničke pohrane nije 100% siguran i ne možemo garantirati apsolutnu sigurnost.<br>
    <br>
    Vaša prava<br>
    <br>
    Imate određena prava u vezi sa svojim ličnim podacima, uključujući pravo na:<br>
    <br>
    - Pristupite i nabavite kopiju vaših ličnih podataka<br>
    - Ažurirajte ili ispravite svoje lične podatke<br>
    - Izbrišite svoje lične podatke<br>
    <br>
    Veze i usluge trećih strana<br>
    <br>
    Naša aplikacija može sadržavati veze na web stranice ili usluge trećih strana koje nisu u našem vlasništvu ili pod našom kontrolom. Ova pravila se ne odnose na te web stranice ili usluge trećih strana. Preporučujemo da pregledate politiku privatnosti tih trećih strana prije nego što date bilo kakve lične podatke.
    <br>
    Kontaktirajte nas<br>
    <br>
    Ako imate bilo kakvih pitanja, komentara ili nedoumica u vezi sa ovim pravilima o zaštiti privatnosti, kontaktirajte nas na podrska@vozime.com.<br>
    <br>
</p>
