<style>
    .form-group {
        margin-bottom: 20px;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: max-content;
    }

    h1 {
        text-align: center;
    }

    .create-button-container {
        text-align: center;
    }

    .create-button {
        padding: 10px 20px;
        font-size: 18px;
        width: 5cm
    }

</style>

@model VoziMe.Models.Klijent

@{
    ViewData["Title"] = "Create";
}
 

<h1>Unesite vaše podatke</h1>

<hr />

   <div class="form-container">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ime" class="control-label">Ime</label>
                <input asp-for="ime" class="form-control" />
                <span asp-validation-for="ime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="prezime" class="control-label">Prezime</label>
                <input asp-for="prezime" class="form-control" />
                <span asp-validation-for="prezime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="korisnickoIme" class="control-label">Korisničko ime</label>
                <input asp-for="korisnickoIme" class="form-control" />
                <span asp-validation-for="korisnickoIme" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="lozinka" class="control-label">Lozinka</label>
                <input asp-for="lozinka" class="form-control" />
                <span asp-validation-for="lozinka" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="spol" class="control-label">Spol</label>
                <select asp-for="spol" asp-items="Html.GetEnumSelectList<Spol>()">
                    <option selected="selected" value="">Odaberite opciju</option>
                </select>
                <span asp-validation-for="spol" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="datumRodjenja" class="control-label">Datum rodjenja</label>
                <input asp-for="datumRodjenja" class="form-control" />
                <span asp-validation-for="datumRodjenja" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="mailAdresa" class="control-label">Mail adresa</label>
                <input asp-for="mailAdresa" class="form-control" />
                <span asp-validation-for="mailAdresa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="adresa" class="control-label">Adresa</label>
                <input asp-for="adresa" class="form-control" />
                <span asp-validation-for="adresa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="brojTelefona" class="control-label">Kontakt telefon</label>
                <input asp-for="brojTelefona" class="form-control" />
                <span asp-validation-for="brojTelefona" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ocjena" class="control-label">Ocjena</label>
                <input asp-for="ocjena" class="form-control" />
                <span asp-validation-for="ocjena" class="text-danger"></span>
            </div>

            <div class="form-group create-button-container">
                <input type="submit" value="Kreiraj račun" class="btn btn-primary create-button" id="createButton" onclick="createClick()" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    function createClick() {
        var createButton = document.getElementById('createButton');
        createButton.addEventListener('click', function () {
            alert('Podaci ažurirani!');
        });
    }
</script>
